* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

.geral {
    background: url(../images/bg-geral.jpg) no-repeat;
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 1100px;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.logo {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 30px;
    display: block;
}
h1 {
    font-size: 50px;
    font-weight: bold;
    color: #3e346e;
    margin: 0 0 30px;
}
p {
    font-size: 20px;
    font-weight: bold;
    color: #e35403;
    margin: 0;
}
form {
    background: #fff;
    padding: 30px 30px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,.3);
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,.3);
}
label {
    font-size: 15px;
    color: #ed194d;
}
.item-sel {
    color: #4a3e84;
}
input,
select {
    border-radius: 50px!important;
    background: #d1d1d1!important;
    margin-bottom: 15px;
}
select.segundo.form-control {
    margin-bottom: -20px;
}
button {
    border: none;
    background: transparent;
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: -50px;
}
button img {
    cursor: pointer;
}

footer {
    background: #3d2e9a;
    padding: 80px 0;
}
footer p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 0;
}
footer p span {
    color: #fce331;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    .logo {
        width: 40%;
        margin: 0 auto 10px;
    }
    .geral {
        height: auto;
        padding: 30px 0 60px;
    }
    h1 {
        font-size: 40px;
        text-shadow: 1px 1px 2px black; 
        margin: 0 0 20px;
    }
    form {
        padding: 30px 15px 0;
        margin-top: 20px;
    }
    footer {
        padding: 50px 0;
    }
}
@media (min-width: 992px) and (max-width: 1050px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
}